header{
    height: 1.24rem;
    background: white;
}
header ul{
    width: 6.99rem;
    height: 0.98rem;
    margin: 0.26rem 0.2rem 0.33rem 0.31rem;
    display: inline-block;
    /* background: red; */
}
header ul li{
    height: 100%;
    /*width: 0.7rem;*/
    width: 0.89rem;
    /* background: rgb(217, 217, 226); */
    float: left;
    font-size: 0.25rem;
    margin-right: 0.53rem;
    position: relative;
}
header ul li span{
    display: block;
    text-align: center;
}
header ul li:first-child{
    width: 0.9rem;
    font-size: 0.28rem;
    color: #0072ff;
    line-height: 0.66rem;
    text-align: center;
    margin-right: 0.39rem;
}
header ul li:last-child{
    float: right;
    margin-right: 0rem;
}
header ul li p{
    width: 0.89rem;
    height: 0.08rem;
    display: block;
    /* background: transparent; */
    /*background: #0072ff;*/
    position: absolute;
    bottom: 0;
}
header ul li .op{
    background: #0072ff;
}

main{
    background: #f0f0f6;
}
main .mainUlb>li{
    width: 6.89rem;
    height: 5.65rem;
    background: white;
    border-radius: 0.16rem;
    margin: 0.22rem auto;
}
main .mainUlc li{
    /* background: pink; */
}
main .mainUlc li:first-child{
    height: 1.89rem;
    border-bottom: 0.01rem solid #efefef;
}
main .mainUlc .ali{
    width: 6.56rem;
    height: 0.95rem;
    border-bottom: 0.02rem solid #efefef;
    float: right;
    font-size: 0.3rem;
    line-height: 0.95rem;
}
main .mainUlc li:last-child{
    border-bottom: none;
}
main .mainUlc li:first-child img{
    width: 1.25rem;
    margin-top: 0.31rem;
    margin-left: 0.32rem;
}
main .mainUlc li:first-child p{
    font-size: 0.25rem;
    margin-left: 0.33rem;
    width: 4rem;
    margin-top: 0.56rem;
    color: #535353;
}
main .mainUlc li:first-child p:last-child{
    margin-top: 0.2rem;
}
main .mainUlc li:first-child p:nth-child(2) span{
    font-size: 0.3rem;
    color: #000;
}
main .mainUlc .ali img{
    width: 0.13rem;
    height: 0.22rem;
    margin-top: 0.35rem;
    margin-right: 0.32rem;
}
.Ghxz{
    width: 6.02rem;
    height: 8.19rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;

}
.Ghxz p:first-child{
    font-size: 0.35rem;
    text-align: center;
    padding: 0.4rem 0;
}