header{
    height: 1.05rem;
    width: 100%;
}
nav{
    width:6.88rem;
    height: 0.63rem;
    background: white;
    margin: 0.2rem 0rem 0rem 0.31rem;
    display: inline-block;
    border-radius:0.25rem;
    border:none;
    font-size: 0.25rem;
    position: relative;
}
nav .navDiva{
    width: 4rem;
    height: 0.26rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navDiva div{
    width: 0.24rem;
    height: 0.26rem;
    background-image: url(../images/fdj.png);
    background-size: 100%;
    background-repeat:no-repeat;
}
.navDiva span{
    margin-top: -0.03rem;
    color:#a7a7a7;
}
main{
    width: 100%;
}
main ul li:first-child{
    font-size: 0.28rem;
    color:#656565;
    margin-left: 0.31rem;
    height: 0.73rem;
    background: #f0f0f6;
    line-height: 0.73rem;
}
main ul li{
    height: 0.93rem;
    background: white;
    font-size: 0.3rem;
}
main ul li div{
    width: 7.19rem;
    height: 0.94rem;
    margin-left: 0.31rem;
    border-bottom:0.02rem solid #f2f2f2;
    /* background: red; */
}
main ul li div span{
    line-height: 0.93rem;
}
main ul li div img{
    margin-top: 0.27rem;
    margin-right: 0.32rem;
}